---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
	text: string;
	color: `${"primary" | "secondary"}${".light" | "" | ".dark"}`;
	href?: string;
	newTab?: boolean;
}

const { text, color, href, newTab } = Astro.props;

const target = newTab ? "_blank" : "_self";

const bgColor = {
	primary: "bg-primary text-white",
	"primary.light": "bg-primary-light text-white",
	"primary.dark": "bg-primary-dark text-white",
	secondary: "bg-secondary text-white",
	"secondary.light": "bg-secondary-light text-black",
	"secondary.dark": "bg-secondary-dark text-white",
};
---

<button class={`${bgColor[color]} rounded-full px-4 py-2 font-bold`}>
    {
        href ? (
            <a href={href} target={target}>
                {text}
            </a>
        ) : (
            text
        )
    }
</button>
