---
import Container from './Container.astro';
---

<footer class="flex w-screen flex-col justify-center gap-2 bg-black py-8">
    <Container class="mx-auto">
        <p class="text-center text-sm font-bold text-white">&copy; 2023 Norden Wind Ensemble.</p>
    </Container>
</footer>
