---
import { MENU_ITEMS as menu } from "../consts";
import Container from "./Container.astro";
import HamburgerMenu from "./HamburgerMenu.astro";

export type MenuItem = {
	text: string;
	link: string;
};
---

<header class="h-16">
    <Container class="h-full">
        <div class="flex h-full flex-row items-center justify-between gap-2 p-0">
            <div class="flex h-full flex-row items-start justify-between gap-1">
                <a href="/" class="h-full">
                    <img class="h-full w-auto" src="/nordenwinds-yoko.png" alt="logo" />
                </a>
            </div>

            <nav class="hidden flex-row items-center justify-between gap-4 md:flex">
                {
                    menu.map((item) => (
                        <a href={item.link} class="font-bold">
                            {item.text}
                        </a>
                    ))
                }
            </nav>
            <HamburgerMenu class="block md:hidden" items={menu} />
        </div>
    </Container>
</header>
