---
interface Props {
    text: string;
    color: `${'primary' | 'secondary'}${'.light' | '' | '.dark'}`;
}

const { text, color } = Astro.props;

const bgColor = {
    primary: 'bg-primary text-white',
    'primary.light': 'bg-primary-light text-white',
    'primary.dark': 'bg-primary-dark text-white',
    secondary: 'bg-secondary text-white',
    'secondary.light': 'bg-secondary-light text-black',
    'secondary.dark': 'bg-secondary-dark text-white',
};
---

<span class={`${bgColor[color]} inline-block w-full px-1 text-center font-bold uppercase`}>
    {text}
</span>
