---
name: checks

on:
  pull_request: ~
  merge_group: ~

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: ''
          package-manager-cache: false

      - name: Setup @akidosec/safe-chain
        run: |
          curl -fsSL "https://github.com/AikidoSec/safe-chain/releases/download/${SAFE_CHAIN_VERSION}/install-safe-chain.sh" | sh -s -- --ci
        env:
          SAFE_CHAIN_VERSION: 1.3.3

      - name: Check npm dependencies via installation
        run: |
            # Force download because packages are checked on download.
            rm -rf $(pnpm store path)
            pnpm install --frozen-lockfile

  check:
    strategy:
      matrix:
        workspace:
          - "apps/web"
          - "apps/cms"
          - "apps/functions"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'pnpm'

      - name: Resolve Dependencies
        run: pnpm install --frozen-lockfile

      - name: Check code
        run: pnpm --dir=${{ matrix.workspace }} check

  typegen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'pnpm'

      - name: Resolve Dependencies
        run: pnpm install --frozen-lockfile

      # DONT: `wrangler dev &`. local server does not work on background.
      - name: Build OpenAPI Document
        run: |-
          pnpm run ./apps/functions/bin/build-openapi.ts /tmp/openapi.json

      - name: Check type of content model is generated
        run: >-
          pnpm --dir=apps/web run typegen &&
          git diff --exit-code apps/web/src/types
        env:
          API_BASE_URL: /tmp
          CONTENTFUL_ENV: develop
          CONTENTFUL_SPACE_ID: ${{ vars.CONTENTFUL_SPACE_ID }}
          CONTENTFUL_MANAGEMENT_TOKEN: ${{ secrets.CONTENTFUL_MANAGEMENT_TOKEN }}

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'pnpm'

      - name: Resolve Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Web
        run: pnpm --dir=apps/web run build
        env:
          DEV: true
          CONTENTFUL_ENV: develop
          CONTENTFUL_SPACE_ID: ${{ vars.CONTENTFUL_SPACE_ID }}
          CONTENTFUL_PREVIEW_TOKEN: ${{ secrets.CONTENTFUL_PREVIEW_TOKEN }}

      - name: Build API
        run: pnpm --dir=apps/functions run build
