---
name: checks

on:
  pull_request: ~
  merge_group: ~

jobs:
  check:
    strategy:
      matrix:
        workspace:
          - "apps/web"
          - "apps/cms"
          - "apps/functions"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - name: Resolve Dependencies
        run: bun install --frozen-lockfile
        env:
          HUSKY: 0

      - name: Check code
        run: bun --cwd=${{ matrix.workspace }} check

  typegen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - name: Resolve Dependencies
        run: bun install --frozen-lockfile
        env:
          HUSKY: 0

      # DONT: `wrangler dev &`. local server does not work on background.
      - name: Build OpenAPI Document
        run: |-
          bun run ./apps/functions/bin/build-openapi.ts /tmp/openapi.json

      - name: Check type of content model is generated
        run: >-
          bun --cwd=apps/web run typegen &&
          git diff --exit-code apps/web/src/types
        env:
          API_BASE_URL: /tmp
          CONTENTFUL_ENV: develop
          CONTENTFUL_SPACE_ID: ${{ vars.CONTENTFUL_SPACE_ID }}
          CONTENTFUL_MANAGEMENT_TOKEN: ${{ secrets.CONTENTFUL_MANAGEMENT_TOKEN }}

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - name: Resolve Dependencies
        run: bun install --frozen-lockfile
        env:
          HUSKY: 0

      - name: Build Web
        run: bun --cwd=apps/web run build
        env:
          DEV: true
          CONTENTFUL_ENV: develop
          CONTENTFUL_SPACE_ID: ${{ vars.CONTENTFUL_SPACE_ID }}
          CONTENTFUL_PREVIEW_TOKEN: ${{ secrets.CONTENTFUL_PREVIEW_TOKEN }}

      - name: Build API
        run: bun --cwd=apps/functions run build
